body {
    color: #777777;
    font-family: 'Roboto Slab', serif;
}

.container{
    padding-left: 30px;
    padding-right: 30px;
}


/*helper*/

section h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #000;
    font-size: 20px;
    text-align: center;
}

.navbar-default {
    background-color: #0ed8d6;
    border-bottom: 1px solid transparent;
}

.navbar-default.scrolled {
    background-color: rgba(147, 248, 247, 0.8);
    transition: all 250ms ease-in;
}

.navbar-default a.navbar-brand {
    font-family: 'Droid Serif', serif;
    color: whitesmoke;
    font-size: 25px;
}

.navbar-default ul li a:link {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 500;
    transition: all 0.4s;
}

.navbar-default ul li a:visited {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

section#slider {
    position: relative;
}

section#slider .item div.slider-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

section#slider .item div.slider-image#slider_img_1 {
    background-image: url(../img/slider/slider1.jpg);
}

section#slider .item div.slider-image#slider_img_2 {
    background-image: url(../img/slider/slider2.jpg);
}

section#slider .item div.slider-image#slider_img_3 {
    background-image: url(../img/slider/slider5.jpg);
}

section#slider .item div.slider-image#slider_img_4 {
    background-image: url(../img/slider/slider6.jpg);
}


/*SVG */

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: transparent;
    transition: all 200ms ease-in;
}

.st1 {
    fill: none;
    stroke: white;
    stroke-width: 1.4173;
    stroke-miterlimit: 22.9256;
    stroke-linecap: round;
}

.st2 {
    fill: transparent;
    stroke: white;
}

.svg-logo-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #0ed8d6;
    z-index: 5000;
}

.svg-logo-wrapper svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 100px;
}


/*   #3A3A39*/


/*END OF SVG*/

.soft-creation-button {
    background-color: #0ed8d6;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    transition: all 400ms linear;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid transparent;
    outline: none;
}

.soft-creation-button:hover {
    color: #0ed8d6;
    background-color: white;
    border: 2px solid #0ed8d6;
}


/*headings, subheadings*/

.row.text-center.heading {
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #333333;
    font-weight: 900;
    margin-top: 100px;
}

.row.text-center.subheading {
    font-family: 'Droid Serif';
}


/* end of headings, subheadings*/


/*section offer start*/

#offer {
    text-align: center;
    padding: 60px 0;
}

#offer #show {
    display: none;
}


/*section offer end*/

#portfolio {
    background-color: #f7f7f7;
}

#portfolio .single-portfolio-item {
    margin-bottom: 20px;
    text-align: center;
}

#portfolio .container .row h1 {
    font-weight: 150;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#portfolio .portfolio-image-container {
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
}

#portfolio #portfolio-item-1 {
    background-image: url("../img/gallery/gallery1.jpg");
}

#portfolio #portfolio-item-2 {
    background-image: url("../img/gallery/gallery2.jpg");
}

#portfolio #portfolio-item-3 {
    background-image: url("../img/gallery/gallery3.jpg");
}

#portfolio #portfolio-item-4 {
    background-image: url("../img/gallery/gallery4.jpg");
}

#portfolio #portfolio-item-5 {
    background-image: url("../img/gallery/gallery5.jpg");
}

#portfolio #portfolio-item-6 {
    background-image: url("../img/gallery/gallery6.jpg");
}

#portfolio .portfolio-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}

#portfolio .portfolio-image:hover {
    transform: scale(1.2);
}

#portfolio .portfolio-item-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(14, 216, 214, 0.7);
    opacity: 0;
    position: relative;
    transition: all 0.5s ease-in-out;
}

#portfolio .portfolio-item-mask:hover {
    opacity: 1;
}

#portfolio .single-portfolio-item .portfolio-image-container .portfolio-image i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}

#portfolio .single-portfolio-item h4 {
    color: black;
}


/*#team .row:nth-child(3) {*/


/*    margin-top: 70px;*/


/*    margin-bottom: 100px;*/


/*}*/

#team {
    padding: 50px 0;
}

#team .teamimage {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

#team #erick {
    background-image: url(../img/team/anna.jpg);
}

#team h5 {
    font-weight: bold;
    color: black;
    text-align: center;
}

#team p {
    text-align: center;
}

#team .icon-social {
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    line-height: 50px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.4s;
}

#team .icon-social:hover {
    background-color: #0ed8d6;
}


/*#team .row:last-child {*/


/*    margin-bottom: 70px;*/


/*}*/

#contact {
    background-color: #f7f7f7;
    padding: 50px 0;
}

#contact p {
    font-family: 'RobotoSlab';
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-transform: lowercase;
    text-transform: capitalize;
}

#contact h2 {
    color: black;
}

#contact input:not([type="submit"]),
#contact textarea {
    width: 100%;
    border: 2px solid #f7f7f7;
}

#contact input,
#contact textarea {
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Montserrat';
    border-radius: 5px;
    margin-bottom: 25px;
    transition: all 400ms linear;
    outline: none;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #0ed8d6;
}


/* all */

::-webkit-input-placeholder {
    color: #777;
}

::-moz-placeholder {
    color: #777;
}


/* firefox 19+ */

:-ms-input-placeholder {
    color: #777;
}


/* ie */

input:-moz-placeholder {
    color: #777;
}

#terms {
    font-family: 'Montserrat', sans-serif;
    height: 100px;
}

#terms .container .row:first-child {
    margin-top: 40px;
    margin-bottom: 40px;
}

#terms a:link {
    text-decoration: none;
    color: #777777;
    transition: all 200ms linear;
}

#terms a:hover {
    color: #0ed8d6;
}


/*
PRODUCT GALLERY
*/

h2.productimages {
    margin-top: 80px;
}

.gal {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}

.gal img {
    width: 100%;
    padding: 7px 0;
    border-radius: 14px;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}
